.snippetLinkContainer{
    width: 250px;
    background: var(--color-primary);
    color: var(--color-quaternary);
    height: 100vh;
    overflow: auto;
}

.snippetLinkContainer ul{
    margin-top: 5vh;
}

.snippetLinkContainer h2 {
    text-align: center;
    font-size: 20px;
    font-weight: var(--header-font-weight);
    margin-bottom: 2vh;
}

.snippetLinkComponent{
    border: 1px solid var(--color-secondary);
    height: 100px;
    background: var(--color-white);
    color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    word-wrap: break-word;
}

.snippetLinkComponent:hover {
    border-left: 5px solid var(--color-secondary);
    cursor: pointer;
}

.snippetLinkComponent div{
    display: flex;
    justify-content: space-between;
}

.snippetLanguage{
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    padding: 0 5px;
    display: inline-block;
}

.searchBar{
    display: flex;
    justify-content: center;
    margin: 0 5px 1vh 5px;
}

.searchBar input {
    padding: 5px;
    width: 75%;
}

.searchBar button {
    background: var(--color-secondary);
    margin-left: 5px;
    color: var(--color-white);
    box-shadow: 1px 3px 6px var(--color-tertiary);
    width: 25%;
}

.searchBar button:hover{
    background: var(--color-tertiary);
}

.sortBar {
    display: flex;
    justify-content: center;
    margin: 0 5px 1vh 5px;
    
}

.sortBar select {
    padding: 5px;
    width: 75%;
    color: black;
}

.sortBar button {
    background: var(--color-secondary);
    margin-left: 5px;
    color: var(--color-white);
    box-shadow: 1px 3px 6px var(--color-tertiary);
    width: 25%;
}

.sortBar button:hover {
    background: var(--color-tertiary);
}

.noSnippetText{
    font-size: 30px;
    text-align: center;
    margin: auto;
}