.snippetUpdateContainer{
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.snippetUpdateContainer h1{
    font-size: 25px;
    font-weight: var(--header-font-weight);
}

.snippetUpdateForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.snippetUpdateForm label{
    font-size: 20px;
}

.titleUpdateText{
    padding: 5px 10px;
    border: 1px solid var(--color-tertiary);
    border-radius: 20px;
    margin-bottom: 2vh;
}

.snippetUpdateForm textarea{
    padding: 5px 10px;
    border: 1px solid var(--color-tertiary);
    border-radius: 20px;
    margin-bottom: 2vh;
}

.snippetUpdateText{
    height: 40vh;
}

.descriptionUpdateText{
    height: 10vh;
}

.snippetUpdateForm button{
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 50%;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
}

.snippetUpdateForm button:hover{
    background: var(--color-secondary);
}